header {
	position: fixed;
	z-index: 10000;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: rgba(0,0,0,.2);
	box-shadow: 0 0.1em 0.15em 0 rgba(0,0,0,.11);
	transition: color .2s ease-in-out,background .2s ease-in-out;

}

.light header {
	background-color: #fff;
}

.top-menu {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	padding: 5px 0px;
}

.logo-container {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.l3d {
	height: 40px;
	width: 40px;
	padding: 5px 12px 5px 12px;
	border-right: 2px solid red; 
	perspective: 1000px;
}

.logo-container:hover .rotate {
	transform: rotateY(180deg);
}

.rotate {
	height: inherit;
	position: relative;
	transform-style: preserve-3d;
	transition: 0.5s;
}

.logo-front {
	backface-visibility: hidden;
}

.logo-back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

h1 a.logo-text {
	color: rgb( 254, 255, 254 );
	text-decoration: none;
	font-size: 2.6rem;
	line-height: 2.6rem;
	font-weight: bold;
	display: inline-block;
	padding: 10px 0 10px 10px;
}

.light .logo-text {
	color: initial;
}

.menu-container {
	display: inline-flex;

}

nav>ul>li {
	list-style: none;
	margin: 0px 15px;
	border-bottom: 1px solid transparent;
	transition: all 0.5s;
	display: flex;
	align-items: flex-end;
}




nav>ul>li:hover {
	border-bottom: 1px solid rgb( 254, 255, 254 );
	cursor: pointer;
}

.light nav>ul>li:hover {
	border-bottom: 1px solid #9b9b9b;
}

nav>ul>li:last-child a {
	text-transform: none;
	font-size: 1.5rem;
	font-weight: 400;
	display: flex;
	align-items: flex-end;
}

.light nav>ul>li:last-child a {
	color: initial;
}

nav>ul>li:last-child:hover {
	border-bottom: 1px solid transparent;
}

nav>ul>li:last-child .login-icon {
	height: 20px;
	width: 20px;
	margin-top: 2px;
	margin-right: 5px;
	background-image: url(../icons/enter-icon-green.png);
	background-position: center 0%;
  	background-size: cover;
}

nav ul li a {
	color: rgb( 254, 255, 254 );
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
}

.light header nav>ul>li>a  {
	color: #9b9b9b;
	transition: color .2s ease-in-out;
}