/*____________________________POSTER________________________________________*/

.parallax__layer {
  background-image: url(../img/poster1.jpg);
  min-height: 100vh;
  position: relative;
  background-position: center 0%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.95;

}

.pcontainer {
	position: absolute;
	top: 47%;
	left: 10%;
	width: 80%;
	text-align: center;
	
}

.ptext {
	color: rgb( 254, 255, 254 );
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 700;
	margin: 3px;
}

.paftertext {
	color: rgb( 254, 255, 254 );
	font-size: 2rem;
	font-weight: 700;
	margin: 3px;
	text-shadow: 1px 1px black;
}

.btn-login {
	display: flex;
	width: 190px;
	height: 47px;
	align-items: center;
	justify-content: center;
	background: rgb( 215, 49, 73 );
	color: rgb( 254, 254, 254 );
	font-size: 2.1rem;
	text-decoration: none;
	margin: 10px auto 0 auto;
	border: 1px solid #DA4453;
	border-radius: .286em;
	transition: 0.5s;
	font-weight: 500;
	outline: none;

}

.btn-login:hover {
	background: #48cfad;
	border-color: #48cfad;
	transition: 0.5s;
}

/*____________________________________________HOW-CATEGORY__________*/


.how-category-container {
	background-image: url(../img/background.png);
	position: relative;
	background-position: center 0%;
	background-size: cover; 
	background-repeat: no-repeat;
}

/*_____________________________________________HOW_______________________*/

#how {
	padding: 40px 0;	
}


h2 {
	font-size: 3.6rem;
	font-weight: 700;
	text-align: center;
}

.line-after-h2 {
	width: 9%;
	height: 4px;
	margin: 20px auto;
	background: red;
}

.how-container {
	margin: 80px auto 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-around;
	
}

.how-item {
	min-width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.8rem;
	font-weight: 500;
}

.how-icon {
	height: 55px;
	width: 55px;
	min-width: 55px;
	background-position: center 0%;
    background-size: 55px; 
    background-repeat: no-repeat;
    margin-left: 15px;
}

.how-item .sign-up {
	background-image: url(../icons/signup.png);
}

.how-item .progress {
	background-image: url(../icons/progress.png);
}

.how-item .champion {
	background-image: url(../icons/champion.png);
}

.how-item .gift {
	background-image: url(../icons/gift.png);
}

.how-item p {
	margin-left: 15px;
}

/*__________________________________________CATEGORY___________________*/

#category {
	padding: 40px 0;
}

.category-container {
	width: 80%;
	margin: 40px auto; 
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.first3 {
	display: flex;
}

.second3 {
	display: flex;
}

.category-item {
	width: calc((80% - 140px) / 6);
	min-width: 150px;
	border-radius: 0.8em;
	box-shadow: 0 0.02px 4px 0 rgba(0,0,0,.06);
	cursor: pointer;
	position: relative;
	bottom: 0;
	transition: bottom .3s ease,box-shadow .3s ease;
	background-color: rgb( 254, 255, 254 );
	margin: 10px 20px;
	padding: 20px 20px;

} 

.category-item:hover {
	bottom: 5px;
	box-shadow: 0 0.2rem 1.5rem 0.8rem rgba(0,0,0,.06);
}

.category-item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} 

.category-icon {
	height: 100px;
	width: 100px;
	margin-bottom: 10px;
	background-position: center 0%;
    background-size: cover; 
    background-repeat: no-repeat;
}

.сompetitions {
	background-image: url(../icons/competitions.png);
}

.habits {
	background-image: url(../icons/habits.png);
}

.career {
	background-image: url(../icons/career.png);
}

.study {
	background-image: url(../icons/study.png);
}

.shoping {
	background-image: url(../icons/shoping.png);
}

.other {
	background-image: url(../icons/other.png);
}

.category-item h3 {
	font-size: 1.8rem;
	font-weight: 700;
	color: #DA4453;
}

.parallax__layer2 {
  background-image: url(../img/poster2.jpg);
  min-height: 700px;
  position: relative;
  background-position: center 0%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.95;

}

.category-list-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.category-raw {
	padding: 20px 0;
}
/*________________________________________WHO__________________________*/

#who {
	padding: 40px 0;
	background-color: #f5f4f5;
}

.who-container {
	width: 80%;
	margin: 40px auto; 
	display: flex;
	justify-content: space-around;
}

.who-item {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.who-item .image-start {
	width: 250px;
	height: 290px;
	background-image: url(../icons/start.png);
	background-position: center 0%;
    background-size: 250px 290px; 
    background-repeat: no-repeat;
}

.who-item .image-win {
	width: 250px;
	height: 290px;
	background-image: url(../icons/win.png);
	background-position: center 0%;
    background-size: 250px 290px; 
    background-repeat: no-repeat;
}

.who-item .image-success {
	width: 250px;
	height: 290px;
	background-image: url(../icons/success.png);
	background-position: center 0%;
    background-size: 250px 290px;
    background-repeat: no-repeat;
}

.who-item p {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 500;
	padding-top: 20px;
}

#who h3 {
	text-align: center;
	font-size: 2.0rem;
}

/*__________________________________________REVIEWS_________________*/


#reviews {
	padding: 40px 0 20px 0;
	background-color: rgb( 50, 50, 50 );
	color: white;
}

.face-slider {
	width: 850px;
	margin: 50px auto 20px auto;
	height: 180px;
}

.text-slider {
	width: 40%;
	margin: 0 auto;
}

.text-slider.slick-slider {
	margin-bottom: 0;
}




/*_________стилизация слайдов-фото_________*/

.face-slide { /*____стилизация дива____*/
	width: 130px;
  	height: 128px;
	outline: none;
	margin-top: 15px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	margin-left: -25px;
	cursor: pointer;	
	
}

.fs-1 { /*_________________Стилизация картинки_________________________________*/
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: rgb( 91, 88, 88 ) url(../img/faceslider/Bill_Gates.jpg);
	background-position: center top;
	-webkit-background-size: contain;
	        background-size: contain;
	background-blend-mode: multiply;
	border: 0.33px solid rgb( 0, 0, 0 );
}

.fs-2 {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: rgb( 91, 88, 88 ) url(../img/faceslider/Victoria_Beckham.jpg);
	background-position: center top;
	-webkit-background-size: contain;
	        background-size: contain;
	background-blend-mode: multiply;
	border: 0.33px solid rgb( 0, 0, 0 );
}

.fs-3 {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: rgb( 91, 88, 88 ) url(../img/faceslider/Edward_Snowden.jpg);
	background-position: center top;
	-webkit-background-size: contain;
	        background-size: contain;
	background-blend-mode: multiply;
	border: 0.33px solid rgb( 0, 0, 0 );
}

.fs-4 {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: rgb( 91, 88, 88 ) url(../img/faceslider/Julia_Roberts.jpeg);
	background-position: center top;
	-webkit-background-size: contain;
	        background-size: contain;
	background-blend-mode: multiply;
	border: 0.33px solid rgb( 0, 0, 0 );
}

.fs-5 {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: rgb( 91, 88, 88 ) url(../img/faceslider/Angelina_Jolie.jpg);
	background-position: center top;
	-webkit-background-size: contain;
	        background-size: contain;
	background-blend-mode: multiply;
	border: 0.33px solid rgb( 0, 0, 0 );
}

.fs-6 {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: rgb( 91, 88, 88 ) url(../img/faceslider/Ilon_Mask.jpg);
	background-position: center top;
	-webkit-background-size: contain;
	        background-size: contain;
	background-blend-mode: multiply;
	border: 0.33px solid rgb( 0, 0, 0 );
}

.fs-7 {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: rgb( 91, 88, 88 ) url(../img/faceslider/Brad_Pitt.jpg);
	background-position: center center;
	-webkit-background-size: contain;
	        background-size: contain;
	background-blend-mode: multiply;
	border: 0.33px solid rgb( 0, 0, 0 );
}

.fs-8 {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: rgb( 91, 88, 88 ) url(../img/faceslider/Eddie_Murphy.jpg);
	background-position: center top;
	-webkit-background-size: contain;
	        background-size: contain;
	background-blend-mode: multiply;
	border: 0.33px solid rgb( 0, 0, 0 );
}



/*___________________________________________________________________HARD стилизация позиционирования слайдов*/


.face-slider .slick-track div:nth-child(7)[tabindex="0"] {
	
	position: relative;
	z-index: 14;
}

.face-slider .slick-track div:nth-child(8)[tabindex="0"] {
	position: relative;
	z-index: 13;
}

.face-slider .slick-track div:nth-child(9)[tabindex="0"] {
	position: relative;
	z-index: 12;
}

.face-slider .slick-track div:nth-child(10)[tabindex="0"] {
	position: relative;
	z-index: 11;
}

.face-slider .slick-track div:nth-child(11)[tabindex="0"] {
	position: relative;
	z-index: 10;
}

.face-slider .slick-track div:nth-child(12)[tabindex="0"] {
	position: relative;
	z-index: 9;
}

.face-slider .slick-track div:nth-child(13)[tabindex="0"] {
	position: relative;
	z-index: 8;
}

.face-slider .slick-track div:nth-child(14)[tabindex="0"] {
	position: relative;
	z-index: 7;
}

.face-slider .slick-track div:nth-child(15)[tabindex="0"] {
	position: relative;
	z-index: 6;
}

.face-slider .slick-track div:nth-child(16)[tabindex="0"] {
	position: relative;
	z-index: 5;
}

.face-slider .slick-track div:nth-child(17)[tabindex="-1"] {
	position: relative;
	z-index: 4;
}

.face-slider .slick-track div:nth-child(18)[tabindex="-1"] {
	position: relative;
	z-index: 3;
}

.face-slider .slick-track div:nth-child(19)[tabindex="-1"] {
	position: relative;
	z-index: 2;
}

.face-slider .slick-track div:nth-child(20)[tabindex="-1"] {
	position: relative;
	z-index: 1;
}
.face-slider .slick-track div:nth-child(21)[tabindex="-1"] {
	position: relative;
	z-index: 0;
}





.face-slider .slick-track div[aria-hidden="true"] {  /*_____________Стилизация крайних слайдов________________*/
	visibility: hidden;
	cursor: auto;
}



.face-slider .slick-track div.slick-current {   /*____Стилизация центрального изображения____*/
	width: 172px;
  	height: 173px;
  	margin-top: 0;
  	position: relative;
  	-webkit-transition: 0.5s;
  	-o-transition: 0.5s;
  	transition: 0.5s;
  	z-index: 5000;
  	background-blend-mode: normal;
  	border: 3px solid rgb( 218, 223, 225 );

  	
}




/*_________________________________________________________________________Стилизация слайдов-текста_________*/

.text-slide {
	outline: none;
}

.text-slide>.name {
	font-size: 2.4rem;
	color: #48cfad;
	text-align: center;
	margin-bottom: 3px;
}

.text-slide>.work {
	font-size: 1.6rem;
	color: rgb( 255, 255, 255 );
	text-align: center;
	font-family: "Roboto";
	margin-bottom: 30px;
}

.text-slide>.feed-text {
	font-size: 2rem;
  	font-family: "Roboto";
  	color: rgb( 255, 255, 255 );
  	line-height: 1.25;
  	text-align: center;
  	margin-bottom: 35px;
}

/*_____________________________________Стилизация точек_________________________________________________*/

.slick-dots {
	position: static;
	padding-bottom: 40px;
}

.slick-dots li button {
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	width: 16px;
  	height: 16px;
  	border: 1.2px solid #48cfad;
}

.slick-dots li button::before {
	content: '';
	width: 15px;
	height: 15px;
	background: #48cfad;
	opacity: 0;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
}

/*_____________________________________Стилизация стрелок___________________________________________________*/

.slick-prev {
	width: 40px;
	height: 62px;
	left: -10%;
	top: 40%;
}

.slick-next {
	width: 40px;
	height: 62px;
	right: -10%;
	top: 40%;
}

.slick-prev:before, .slick-next:before {
	font-size: 6.2rem;
}

.slick-prev:before {
	content: url(../img/faceslider/left-arrow.png);

}

.slick-next:before {
	content: url(../img/faceslider/right-arrow.png);

}

/*________________________________________FAQ______________________*/


#faq {
	padding: 40px 0 80px 0;
	background-color: #e9ecf3;
}

.faq-buttons-container {
	width: 80%;
	margin: 40px auto; 
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.faq-list-container {
	width: 600px;
	margin: 0 auto;
}

.faq-item {
	width: 8%;
	min-width: 110px;
	border-radius: 0.8em;
	box-shadow: 0 2px 4px 0 rgba(27,27,27,.06);
	cursor: pointer;
	position: relative;
	bottom: 0;
	background-color: rgb( 254, 255, 254 );
	transition: transform .3s ease, box-shadow .3s ease;
	margin: 0.5% 0.5%;
	padding: 20px 15px 40px 15px;
}

.faq-item:hover {
	box-shadow: 0 0.7rem 3rem 0 rgba(0,0,0,.3);
	transform: translateY(-1rem);
}

.faq-buttons-container .active {
	color: rgb( 254, 255, 254 );
	background-color: rgb( 215, 49, 73 );
}

.faq-buttons-container .active:hover {
	box-shadow: none;
	transform: none;
}

.faq-buttons-container .active::before {
	content: "";
	border: 10px solid transparent;
	transition: border-color .15s ease;
	position: absolute;
	left: calc(50% - 10px);
	bottom: -19px;
	transition-delay: unset; 
	border-top-color: rgb( 215, 49, 73 );
}

.faq-buttons-container .active .rules {
	background-image: url(../icons/rules-active.png);
}

.faq-buttons-container .active .bets {
	background-image: url(../icons/bets-active.png);
}

.faq-buttons-container .active .issues {
	background-image: url(../icons/issues-active.png);
}

.faq-item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.faq-icon {
	height: 50px;
	width: 50px;
	margin-bottom: 5px;
	background-position: center 0%;
    background-size: cover; 
    background-repeat: no-repeat;
}

.faq-item .rules {
	background-image: url(../icons/rules.png);
}

.faq-item .bets {
	background-image: url(../icons/bets.png);
}

.faq-item .issues {
	background-image: url(../icons/issues.png);
}

.faq-item h3 {
	font-size: 1.6rem;
	font-weight: 600;
}

.faq-list {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.1);
	border-radius: 4px;
}

.faq-raw {
	background: #fff;
}

.faq-raw:first-child {
	border-radius: 5px 5px 0 0;
}

.faq-raw:last-child {
	border-radius: 0 0 5px 5px;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	color: #9b9b9b;
	cursor: pointer;
	padding: 2rem;
	font-size: 2rem;
	font-weight: 500;
	border-bottom: 1px solid #cacbcb;
	transition: color 0.2s;
}

.faq-question:hover {
	color: rgb( 215, 49, 73 );
	transition: color 0.2s;
}

.faq-answer {
	color: #4a4a4a;
	margin: 0;
	padding: 1.4rem 2.3rem 5rem;
	font-size: 1.6rem;
	line-height: 1.8rem;
	font-weight: 500;
	border-bottom: 1px solid #cacbcb;
}

.chevron {
	width: 20px;
	height: 20px;
	margin-left: 20px;
	background-image: url(../icons/chevron-down.png);
	background-position: center 0%;
    background-size: cover; 
    background-repeat: no-repeat;

}

.faq-list .opened .faq-question {
	color: #a52638;
	font-weight: 600;
}

.faq-list .opened .chevron {
	background-image: url(../icons/chevron-up.png);
}


.parallax__layer3 {
  background-image: url(../img/poster3.jpg);
  min-height: 660px;
  position: relative;
  background-position: center 0%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.95;

}


/*____________________________________________Media-queries_______*/

@media screen and (max-width:1535px) {
	.text-slider {
		width: 42%;
	}

}

@media screen and (max-width:1422px) {
	.text-slider {
		width: 45%;
	}

}

@media screen and (max-width:1400px) { 
	.text-slider {
		width: 50%;
	}
}

@media screen and (max-width:1309px) {
	
	#how {
		padding: 40px 0 10px 0;
	}

	.how-container {
		width: 40%;
		flex-direction: column;
		margin: 50px auto 0 33.3%;
	}

	.how-item {
		justify-content: flex-start;
		margin-bottom: 40px;
	}

	.how-item:last-child {
		margin-bottom: 0px;
	}

	.text-slider {
		width: 55%;
	}
}

@media screen and (max-width:1200px) {
	.text-slider {
		width: 60%;
	}

}

@media screen and (max-width:1150px) {
	
	.how-container {
		margin-left: 30%;
	}

}

@media screen and (max-width:1037px) { 
	
	.how-container {
		width: 50%;
	}

	.who-container {
		width: 90%;
	}

}

@media screen and (max-width:1024px) {

	.face-slider .slick-track div:nth-child(15)[tabindex="-1"] {
	position: relative;
	z-index: 4;
	}
	.face-slider {
		width: 600px;
	}
}

@media screen and (max-width:921px) { 
	.who-container {
		width: 95%;
	}
}

@media screen and (max-width:875px) { 
	.who-container {
		flex-direction: column;
	}

	.who-item {
		padding: 20px 0;
	}
}

@media screen and (max-width:768px) {

	.text-slider {
		width: 70%;
	}

	.face-slider {
		width: 400px;
	}
}

@media screen and (max-width:400px) { 
	
	.face-slider {
		width: 200px;
	}	

}