@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


* {
	margin: 0;
    padding: 0;
}

img {
	max-width: 100%;
}


html {
	font-size: 10px;
}

body {
	margin: 0;
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	max-width: 1920px;
	font-weight: 300;
	height: 100%;
	margin-top: -11px;
}

img {
    max-width: 100%;
}
nav.navbar {
    display: block;
}
form.login {
    margin-top: 50px;
}

footer {
    color: rebeccapurple;
    font-size: 3em;
}
#exit-btn {
    margin: 8px;
}

main {
    margin-top: 10px;
}
#home_aside {
	width: 30%;
	margin-top: 20px;
}
.categories {
	width: 100%;
}
.category {
	width: calc( (100% / 3) - 3px );
	display: inline-block;
	margin: 10px auto;
}
.category img {
	width: 50px;
}
.filter-select {
	margin: 10px 0;
}
.filter-btn {
	margin: 10px auto;
	display: block;
}
.social { 
	border-top: 1px solid #CCCCCC;
}
.social a {
	display: inline-block;
	width: 40px;
	text-decoration: none;
	margin: 4px;
}
.social a:hover {
	opacity: 0.5;
}
#main_content {
	width: calc( 70% - 10px );
	border: none;
	margin-top: 20px;
}
.content {
	padding: 0 1%;
}

.navbar-brand {
	font-family: "system";
	font-size: 2em;
	font-weight: 700;
}

.navbar-brand:hover {
	font-weight: 900;
	font-family: Helvetica;
}

.tab-content {
	margin-top: 10px;
}

#account_info_content {
	padding: 10px;
}

#account_info p {
	font-weight: bold;
	font-style: italic;
}
#account_info span {
	font-weight: 400;
}

#header {
	left: 11px;
	right: 11px;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
}

.fix-fix {
	height: 65px;
}

@media screen and (min-width: 1001px) {
	#home_aside {
		width: 300px;
		margin-top: 20px;
	}

	#main_content {
		width: calc( 100% - 310px );
		border: none;
		margin-top: 20px;
	}
}

@media screen and (max-width: 767px) {
	#home_aside {
		width: 100%;
		margin-top: 20px;
	}

	#main_content {
		width: 100%;
		border: none;
		margin-top: 20px;
	}
}













/*Preloader Spinner*/
.preloader-all {
	position: fixed;
	left: 0;
	top: 50px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 10000;
  overflow: hidden;
}
/*Preloader Spinner*/
.preloader-all:after {
  content: '';
  display: block;
  border-radius: 50%;
  font-size: 10px;
  width: 5em;
  height: 5em;
  margin-top: 48vh;
  margin-left: 48vw;
  border-top: 0.5em solid rgba(255,128,255, 0.5);
  border-right: 0.5em solid rgba(255,128,255, 0.5);
  border-bottom: 0.5em solid rgba(255,128,255, 0.5);
  border-left: 0.5em solid #ccc;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 0.9s infinite linear;
  animation: load 0.9s infinite linear;

}
/*Preloader Spinner*/
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg) ;
  }
}