img {
    max-width: 100%;
}
section {
    border: 1px solid #000;
}
nav.navbar {
    display: block;
}
form.login {
    margin-top: 50px;
}

footer {
    color: rebeccapurple;
    font-size: 3em;
}
#exit-btn {
    margin: 8px;
}

main {
    margin-top: 10px;
}
#home_aside {
	width: 30%;
	margin-top: 20px;
}
.categories {
	width: 100%;
}
.category {
	width: calc( (100% / 3) - 3px );
	display: inline-block;
	margin: 10px auto;
}
.category img {
	width: 50px;
}
.filter-select {
	margin: 10px 0;
}
.filter-btn {
	margin: 10px auto;
	display: block;
}
.social { 
	border-top: 1px solid #CCCCCC;
}
.social a {
	display: inline-block;
	width: 40px;
	text-decoration: none;
	margin: 4px;
}
.social a:hover {
	opacity: 0.5;
}
#main_content {
	width: calc( 70% - 10px );
	border: none;
	margin-top: 20px;
}
.content {
	padding: 0 1%;
}
body {
	margin-top: -11px;
}

.navbar-brand {
	font-family: "system";
	font-size: 2em;
	font-weight: 700;
}

.navbar-brand:hover {
	font-weight: 900;
	font-family: Helvetica;
}

.tab-content {
	margin-top: 10px;
}

@media screen and (min-width: 1001px) {
	#home_aside {
		width: 300px;
		margin-top: 20px;
	}

	#main_content {
		width: calc( 100% - 310px );
		border: none;
		margin-top: 20px;
	}
}

@media screen and (max-width: 767px) {
	#home_aside {
		width: 100%;
		margin-top: 20px;
	}

	#main_content {
		width: 100%;
		border: none;
		margin-top: 20px;
	}
}