@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


* {
	margin: 0;
    padding: 0;
}

img {
	max-width: 100%;
}


html {
	font-size: 10px;
}

body {
	margin: 0;
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	max-width: 1920px;
	font-weight: 300;
	height: 100%;
}
div.fix-fix {
	height: 65px;
}

/*cg-notify styles*/
.alert-box-shadow{
	box-shadow: inset 0px 0px 1px 5px rgba(0,0,0,0.2);
}
/*Preloader Spinner*/
.preloader-all {
	position: fixed;
	display: flex;
	left: 0;
	top: 50px;
	height: 100%;
	width: 100%;
	background: url('../icons/logo-front.png') center no-repeat rgba(0,0,0,0.1);
	z-index: 10000;
    overflow: hidden;
    opacity: 0.9;
    background-size: 50px 50px;
}
/*Preloader Spinner*/
.preloader-all:after {
  content: '';
  margin: auto;
  display: block;
  border-radius: 50%;
  font-size: 10px;
  width: 5em;
  height: 5em;
  border-top: 0.5em dotted rgba(255,0,0, 0.7);
  border-right: 0.5em dotted rgba(0,0,255, 0.7);
  border-bottom: 0.5em dotted rgba(0,0,0, 0.7);
  border-left: 0.5em dotted rgba(0,255,0, 0.7);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 0.9s infinite linear;
  animation: load 1.2s infinite linear;
}
/*Preloader Spinner*/
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg) ;
  }
}


