<!-- Modal add Proofs -->
<div class="reg-container">
<div class="bg-r-wrapper"></div>
<div class="reg-wrapper">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Добавление нового подтверждения</h3>
    </div>
                <div class="modal-body">
                <label for="prooftext">Чего изволите</label>
                <input type="text" name="prooftext" ng-model="proofText">
                <label for="photourl">Фото</label>
                <input type="text" name="photourl" ng-model="photoUrl">
                </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Добавить</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
        </div>
        
        </div>
    </div>