<!-- Modal add Proofs -->
<div class="proof-wrapper">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Добавление нового подтверждения</h3>
    </div>
    <form enctype="multipart/form-data" >
                <div class="modal-body">
                <div class="row">
                    <label for="description">Описание</label>
                    <textarea name="description" ng-model="proofText" cols="70" rows="3"></textarea>
                </div>
                <div class="row">
                    <label for="picture">Фото</label>
                    <input type="file" name="picture" class="inputfile" id="inputfile" >
                </div>
                </div>
    </form>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Добавить</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Закрыть</button>
        </div>       
</div>
