<link rel="stylesheet" type="text/css" href="app/directives/comments/comments.css">
<section class="comments row">
	<h3>Комментарии</h3>
	<div class="comments-list row" ng-repeat="item in comments"  >
		<div>
		<div class="col-md-2 comments-all">
			<a href="#/account/{{item.user_id}}/account_info"><img class="img-responsive" ng-src="{{item.photo || 'app/directives/comments/img/no_ava_user.png'}}" alt="single_comment"></a>
			<span class="name">{{item.firstname}}</span>	
			<span class="name" ng-if="item.firstname.length == 0 || item.lastname.length == 0 ">неизвестный</span>	
		</div>	
			<p class="col-md-8">{{item.content}}</p>
			<span class="col-md-2">
				<div class="postdate">
					<div class="dmflex">
						<div class="dmflex-inner">
							<div class="day">{{item.date_added | date:'dd'}}.</div> 
					        <div class="month">{{item.date_added | date:'MM'}}</div>
				        </div>
				        <div class="time">{{item.date_added | date:'HH:mm'}}</div>
			        </div>
			        <div class="year">{{item.date_added | date:'yyyy'}}</div>
				</div>
			</span>
		</div>
	</div>
	<div class="add-comment row">
			<div class="col-md-2 my-photo">
				<img class=" img-responsive" ng-src="{{myinfo || 'app/directives/comments/img/no_ava_user.png'}}" alt="user">
			</div>	
			<textarea class="col-md-8" name="comment" id="comment" cols="50" rows="10" placeholder="Оставьте свой комментарий..." ng-model="commentText"></textarea>
			<button class="btn btn-default col-md-2 send-btn" ng-click="sendComment()">Ответить</button>
	</div>
</section>
