<link rel="stylesheet" type="text/css" href="app/directives/comments/comments.css">
<section class="comments row" >
	<div class="comments-list row" ng-repeat="item in comments" >
		<div>
		<div class="col-md-2 comments-all">
			<a href="#/account/{{item.user_id}}/account_info">
<div class="user-task-photo" ng-show="item.photo.length !== 0" style="background-image: url('{{item.photo ? adress + item.photo : 'app/directives/comments/img/no_ava_user.png'}}')"></div>
			<span class="name">{{item.firstname}}</span>	
			<span class="name" ng-if="item.firstname.length == 0 || item.lastname.length == 0 ">неизвестный</span> </a>

		</div>	
			<p class="col-md-8">{{item.content}}</p>
			<span class="col-md-2">
				<div class="postdate">
					<div class="dmflex">
						<div class="dmflex-inner">
							<div class="day">{{item.date_added | date:'dd'}}.</div> 
					        <div class="month">{{item.date_added | date:'MM'}}</div>
				        </div>
				        <div class="time">{{item.date_added | date:'HH:mm':'UTC'}}</div>
			        </div>
			        <div class="year">{{item.date_added | date:'yyyy'}}</div>
				</div>
			</span>
		</div>
	</div>
	<span class="alert" ng-if="comments.length === 0 && myinf.id !== task.user_id">Нет комментариев к данному обещанию. Оставьте своё мнение, будьте первым</span>
	<span class="alert" ng-if="comments.length === 0 && myinf.id == task.user_id"> К вашему обещанию еще никто не оставил комментария</span>
	<div class="add-comment row bg-news">
			<div class="col-md-2 my-photo">
				<a href="#/account/{{mydata.id}}/account_info"><div class="my-photo-comment" style="background-image: url('{{myfoto ? adress + myfoto : 'app/directives/comments/img/no_ava_user.png'}}')"></div></a>
			</div>	
			<textarea class="col-md-8 " name="comment" id="comment" cols="50" rows="10" placeholder="Оставьте свой комментарий..." ng-model="commentText"></textarea>
			<button class="btn btn-default col-md-2 send-btn" ng-click="sendComment()">
			Ответить <i class="glyphicon glyphicon-send"></i></button>
	</div>

</section>
