<link href="../../../css/style.css" rel="stylesheet" type="text/css"/>
<link href="app/views/login_page/login.template.css" rel="stylesheet" type="text/css"/>
<div ng-if="loading" class="preloader-all"></div>
<header id="menu">
    <div class="top-menu">
        <div class="logo-container">
            <div class="l3d">
                <div class="rotate">
                    <img class="logo-front" src="../../../icons/logo-front.png" alt="logo-pic"> 
                    <img class="logo-back" src="../../../icons/logo-back.png" alt="logo-pic">
                </div>
            </div>
            <h1>
                <a class="logo-text" ng-class="{active: currentMenuItem == '/'}" >
                    BetWill
                </a>
            </h1>
        </div>
        <nav>
            <ul class="menu-container">
                 <li ng-class="{active: currentMenuItem == '/'}"><div class="login-icon"></div><a href="#/">Назад</a></li>
            </ul>
        </nav>
    </div>
</header>

<body ng-controller="Registration">
    <div class="bg-wrapper"></div>
    <div class="container">
        <form class="login" name="loginForm" ng-submit="login()">
            <h1 class="animated slideInDown">
                Войти на сервис
            </h1>
            <br>
                <label class="animated slideInRight" for="email">
                    Email
                </label>
                <!-- ng-pattern="/^@[a-zA-Z0-9]+(?:,\s*@[a-zA-Z0-9]+)*$/" -->
                <input class="form-control animated slideInLeft" id="email" ng-change="validateEmail()" ng-class="{'alert-success' : changeEmail === true, 'alert-danger' : changeEmail === false}" ng-model="user.email" placeholder="example@email.com" popover-placement="right" popover-trigger="'mouseenter'" type="text" uib-popover="Адрес электронной почты. Пример: test@gmail.com">
                    <br>
                        <label class="animated slideInLeft" for="password">
                            Пароль
                        </label>
                        <input class="form-control animated slideInRight" ng-change="validatePass()" ng-class="{'alert-success' : changePas === true, 'alert-danger' : changePas === false}" ng-model="user.password" placeholder="Введите свой пароль" popover-placement="right" popover-trigger="'mouseenter'" type="password" uib-popover="{{popoverText}}">
                        </input>
                    </br>
                    <input class="btn btn-info animated slideInUp" type="submit" value="Войти"/>
                    <div class="text">
                        <p>
                            Нет аккаунта? Пройдите
                            <a   href="#" ng-click="openRegistration()">
                                регистрацию
                            </a>
                        </p>
                    </div>
                </input>
            </br>
        </form>
    </div>   
</body>
