
label {
	animation-duration: 3s;
	animation-delay: 1s;
	margin: 0 auto;
	background: #000;
	font-family: "Roboto Slab";
	font-weight: 900;
	font-size: 1.5em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 50px;

	text-align: center;
	
}
div.container h1 {
	color: #fff;
	text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}
input.form-control {
	width: 50%;
}
input[type="submit"] {
	display: flex;
	animation-duration: 1.2s;
	color: black;
	font-weight: 900;
	width: 50%;
	justify-content: center;
	align-self: center;
}
div.modal-body {
	display: flex;
	flex-direction: row;
}
form[name="regForm"] {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
form[name="regForm"] input {
	width: 50%;
	margin: 0 auto;
}
div.responce-text {
	color: #000;
	text-decoration: underline;
}
.text {
	color: black;
	margin-top: 5px;
}
.text a{
	color: #fff;
	font-size: 1.2em;
	text-decoration: none;
}
.text a:hover{
	transition: all 1s ease-in;
	color: black;
	font-size: 1.22em;
}
.modal-backdrop{
	opacity: 1 !important;
	filter: blur(150px);
}
.modal {
	margin-top: 10%;
}

form.login {
	margin-top: 17%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	border: 1px solid gray;
	background-color: rgba(255, 255, 200, 0.15);
}

input[type="text"], [type="password"], div.text, h1 {
	justify-content: center;
	align-self: center;
	width: 50%;
	text-align: center;
}

body {

}
div.bg-wrapper {
	z-index: -2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("login_bg.jpg"), skyblue;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	filter: blur(8px);
}
div.container {
	position: relative;
	z-index: 2;
}
/*registration template style */
div.reg-container {
	position: relative;
	z-index: 2;
	overflow: hidden;
}
div.bg-r-wrapper {
	z-index: -2;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url("login_bg.jpg"), skyblue;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	filter: blur(15px);
}
button{
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.2s ease-in-out;
}
button.btn:hover{
	transform: scale(1.05);
	background: rgba(255, 255, 255, .8);
	color: rgba(51,122,183,1);
}
div.reg-container input {
	opacity: 0.8;
}
div.reg-container input:focus {
	opacity: 1;
	font-size: 1.1em;
}
/*Header*/
header {
	position: fixed;
	z-index: 10000;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0 0.1em 0.15em 0 rgba(0,0,0,.11);
	transition: color .2s ease-in-out,background .2s ease-in-out;
	height: 50px;

}
.menu-container li a{
	margin-top: 10px;
}
.light header {
	background-color: #fff;
}

.top-menu {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	padding: 0 5%;
}

.logo-container {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.l3d {
	height: 40px;
	width: 40px;
	padding: 6px 5px 2px 5px;
	border-right: 2px solid red; 
	perspective: 1000px;
}

.logo-container:hover .rotate {
	transform: rotateY(180deg);
}

.rotate {
	height: inherit;
	position: relative;
	transform-style: preserve-3d;
	transition: 0.5s;
}

.logo-front {
	backface-visibility: hidden;
}

.logo-back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

h1 a.logo-text {
	color: rgb( 254, 255, 254 );
	text-decoration: none;
	font-size: 2.6rem;
	line-height: 2.6rem;
	font-weight: bold;
	display: inline-block;
	padding: 10px 0 10px 10px;
}
.logo-container h1 {
	margin: 0;
}

.light .logo-text {
	color: initial;
}

.menu-container {
	display: inline-flex;

}
.top-menu a {
	text-decoration: none;
}
.top-menu a:hover{
	text-decoration: none;
}
nav>ul>li {
	list-style: none;
	margin: 0px 15px;
	border-bottom: 1px solid transparent;
	transition: all 0.5s;
	display: flex;
	align-items: flex-end;
}




nav>ul>li:hover {
	border-bottom: 1px solid rgb( 254, 255, 254 );
	cursor: pointer;
}
nav>ul>li a:hover {
	color: #fff;
}
.light nav>ul>li:hover {
	border-bottom: 1px solid #9b9b9b;
}

nav>ul>li:last-child a {
	text-transform: none;
	font-size: 1.5rem;
	font-weight: 400;
}

.light nav>ul>li:last-child a {
	color: initial;
}

nav>ul>li:last-child:hover {
	border-bottom: 1px solid transparent;
}

nav>ul>li:last-child .login-icon {
	height: 20px;
	width: 20px;
	margin-top: 2px;
	margin-right: 5px;
	background-image: url(../icons/enter-icon-green.png);
	background-position: center 0%;
  	background-size: cover;
  	transform: rotate(180deg);
}
span.badge {
	padding: 4px;
}
nav ul li a {
	color: rgb( 254, 255, 254 );
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
}


.light header nav>ul>li>a  {
	color: #9b9b9b;
	transition: color .2s ease-in-out;
}

div.fix-fix {
	height: 65px;
}

/*cg-notify styles*/
.alert-box-shadow{
	box-shadow: inset 0px 0px 1px 5px rgba(0,0,0,0.2);
}
/*Preloader Spinner*/
.preloader-all {
	position: fixed;
	display: flex;
	left: 0;
	top: 50px;
	height: 100%;
	width: 100%;
	background: url('../../../icons/logo-front.png') center no-repeat rgba(0,0,0,0.1);
	z-index: 10000;
    overflow: hidden;
    opacity: 0.9;
    background-size: 50px 50px;
}
/*Preloader Spinner*/
.preloader-all:after {
  content: '';
  margin: auto;
  display: block;
  border-radius: 50%;
  font-size: 10px;
  width: 5em;
  height: 5em;
  border-top: 0.5em dotted rgba(255,0,0, 0.7);
  border-right: 0.5em dotted rgba(0,0,255, 0.7);
  border-bottom: 0.5em dotted rgba(0,0,0, 0.7);
  border-left: 0.5em dotted rgba(0,255,0, 0.7);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 0.9s infinite linear;
  animation: load 1.2s infinite linear;
}
/*Preloader Spinner*/
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg) ;
  }
}