
<main ng-controller="Main">
    <form class="form-inline text-center" id="search_form" ng-submit="search()">
        <input class="form-control" type="text" placeholder="Обещание содержит..." ng-model="searchString">
    </form>
    <aside class="panel panel-default pull-left" id="home_aside">
    	<div class="panel-heading text-center">Фильтр</div>
  		<div class="panel-body">
      <form name="radio">
  			<div class="categories">
  				<p class="text-center">Выберите категорию(и)</p>
  				<div class="category-logged text-center">

            <label for="habit">
              <p>Привычки</p>
              <img src="../../../icons/habits.png" alt="habits" ng-class="{'selected-checkbox': checkboxSearchModel.habit !== 0}">
            </label>
            <input type="checkbox" name="habit" id="habit" ng-model="checkboxSearchModel.habit" ng-true-value="1" ng-false-value="0">

  				</div>
  				<div class="category-logged text-center">

            <label for="work">
              <p>Работа</p>
              <img src="../../../icons/career.png" alt="work" ng-class="{'selected-checkbox': checkboxSearchModel.work !== 0}">
            </label>
            <input type="checkbox" name="work" id="work" ng-model="checkboxSearchModel.work" ng-true-value="2" ng-false-value="0">

  				</div>
  				<div class="category-logged text-center">

            <label for="competition">
              <p>Соревнования</p>
              <img src="../../../icons/competitions.png" alt="competition" ng-class="{'selected-checkbox': checkboxSearchModel.competition !== 0}">
            </label>
            <input type="checkbox" name="competition" id="competition" ng-model="checkboxSearchModel.competition" ng-true-value="3" ng-false-value="0">

  				</div>
  				<div class="category-logged text-center">

            <label for="study">
              <p>Учеба</p>
              <img src="../../../icons/study.png" alt="study" ng-class="{'selected-checkbox': checkboxSearchModel.study !== 0}">
            </label>
            <input type="checkbox" name="study" id="study" ng-model="checkboxSearchModel.study" ng-true-value="4" ng-false-value="0">

  				</div>
  				<div class="category-logged text-center">

            <label for="purchase">
              <p>Покупки</p>
              <img src="../../../icons/shoping.png" alt="purchase" ng-class="{'selected-checkbox': checkboxSearchModel.purchase !== 0}">
            </label>
            <input type="checkbox" name="purchase" id="purchase" ng-model="checkboxSearchModel.purchase" ng-true-value="5" ng-false-value="0">

  				</div>
  				<div class="category-logged text-center">

            <label for="other">
              <p>Другое</p>
              <img src="../../../icons/other.png" alt="other" ng-class="{'selected-checkbox': checkboxSearchModel.other !== 0}">
            </label>
            <input type="checkbox" name="other" id="other" ng-model="checkboxSearchModel.other" ng-true-value="6" ng-false-value="0">

  				</div>
  			</div>
        </form>
  			<form class="form-inline text-center" ng-submit="">

        <label>
            <select ng-model="selectedItemDifficulty" ng-options="item.name for item in selectDifficulty" class="form-control filter-select">
              <option value="" disabled>Выберите сложность</option>
            </select>
        </label>
        <label>
  		    	 <select ng-model="selectedItemValue" ng-options="item.name for item in selectValue" class="form-control filter-select">
  		    		<option value="" disabled>Выберите стоимость</option>
  		    	</select>
        </label>
        <label>
            <select ng-model="selectedCity" ng-options="city for city in cities_root" class="form-control filter-select" id="cityreset">
              <option value="" disabled>Выберите расположение</option>
            </select>
       </label>
       <div class="row">
  		    	<button class="btn btn-default filter-btn" ng-click="clear()">Сбросить</button>
		        <button class="btn btn-default filter-btn" type="submit" ng-click="searchByFilter()">Отфильтровать</button>
		   </div>
        </form>
  		</div>
  		<div class="panel-body text-center social">
  			<p>Мы в соцсетях</p>
			<a href="http://instagram.com"><img src="../../../app/img/instagram.jpeg" alt="instagram"></img></a>
			<a href="http://twitter.com"><img src="../../../app/img/twitter.jpeg" alt="twitter"></img></a>
			<a href="http://facebook.com"><img src="../../../app/img/facebook.jpeg" alt="facebook"></img></a>
			<a href="http://linkedin.com"><img src="../../../app/img/linkedin.jpeg" alt="linkedin"></img></a>
			<a href="http://vk.com"><img src="../../../app/img/vk.png" alt="vk"></img></a>
  		</div>
 		<div class="panel-footer text-center"><p>Copyright &copy; 2018, A-Level students<p></div>
    </aside>
    <section class="pull-right" id="main_content">
    	<div class="panel panel-default">
			<div class="panel-heading text-center">Обещания</div>
			<div class="panel-body">
				<task-info ng-repeat="task in tasks  | orderBy:sortField | filter: searchString track by $index" task="task" file-adress="fileAdress" my-user-id="myUserId" tracking-tasks="myTrackingTasks"></task-info>
			</div>
		</div>
	</section>
</main>
