.wrapper {
	z-index: 450;
	position: relative;

}
a{
	color: black;
}
a:hover{
	color: black;
}
.bg-r-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(track_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	filter: opacity(15%) contrast(200%);
	z-index: -5;
}