.wrapper {
	z-index: 450;
	position: relative;

}
a{
	color: #222;
}
a:hover{
	color: #222;
}
.bg-r-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(track_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	filter: opacity(15%) contrast(200%);
	z-index: -5;
}

.gray-bg{
	background: rgba(50,50,50,0.1);
	color: black;
}

.blue-bg{
	background: rgba(0,0,100,0.2);
}
.pink-bg {
	background: rgba(100,0,0,0.2);
}
.userlistico{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}