.wrapper {
	z-index: 450;
	position: relative;
}
a{
	color: #222;
}
a:hover{
	color: #222;
}

.bg-r-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(bets_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	filter: invert(100%) opacity(15%) contrast(200%);
	z-index: -5;
}
.gray-bg{
	background: rgba(50,50,50,0.1);
	color: black;
}
