h1, h2, h3 {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
h2 {
	padding-bottom: 40px;
}
section {
	padding: 5px;
	margin: 2px;
	overflow: hidden;
}
section.header, .bets, .description {
	border: 1px solid gray;
	border-radius: 15px;
}
section.description p {
	font: italic small-caps bold 16px/2 cursive;
}
section.description img {
	max-width: 300px;
}
button.back {
	box-shadow:5px 5px 10px #2B1015;
	

}
section.bets {
	display: flex;
	background: linear-gradient(270deg, rgba(255,255,255,.55) 20%, rgba(68,195,115,.5) 150%);
	
}
section.header {
	background: linear-gradient(90deg, rgba(255,255,255,.55) 20%, rgba(68,195,115,.5) 150%);
}
section.description {
	background: linear-gradient(90deg, rgba(255,255,255,.55) 20%, rgba(68,195,115,.5) 150%);
}
div.bet {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div.incdec_bet{
	display: flex;
	justify-content: center;
}
div.bet button {
	margin: 8px;
}

p.head{
	z-index: 2000;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}
div.userimg {
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 2px 4px #2B1015;
	font-weight: bolder;
}
div.userimg img {
	border: 1px solid gray;
	box-shadow:5px 5px 10px #2B1015;
	border-radius: 50%;
	margin-bottom: 5px;
}
section.header {
	display: flex;
	align-content: space-around;
	align-items: center;

}
.date-publish span {
	text-decoration: none;
}
.date-publish h2:after, h2:before{
	content: '"';
}
span.date {
	margin-left: 10px;
	text-decoration-color: lightgray;
}

span.day, .hour, .min, .sec, .date {
	display: inline-block;
	height: 50px;
	background: linear-gradient(180deg, rgba(215,49,73,.9), #ebf8e1, rgba(215,49,73,.9));
	padding: 5px;
	font-size: 2em;
	border-top: 3px ridge rgba(215,49,73,.9);
	border-radius: 5px;
	font-weight:bold;
	text-shadow: 1px 1px 2px black, 0 0 2px red;
	color:  rgba(150,152,150,1);
	text-align: center;
}
span.date {  
	background: linear-gradient(180deg,rgba(68,195,115,.5), #ebf8e1, rgba(68,195,115,.5));
	border-top: 3px ridge rgba(68,195,115,.9);
}
span.day:after, .hour:after, .min:after, .sec:after {
	content: '';
	display: block;
	font-size: 0.5em;
	text-align: center;
	color: lightgray;
	text-shadow: 1px 1px 1px black, 0 0 1px red;
}
span.day:after{
	content: 'дни';
}
span.hour:after{
	content: 'часы';
}
span.min:after{
	content: 'мин.';
}
span.sec:after{
	content: 'сек.';
}
div.date-publish span{
	vertical-align: middle;
	margin-bottom: 5px;
}
p.text-info {
	text-decoration: underline;
	text-decoration-color: pink;
}