h1, h2, h3 {
	text-align: center;
	font-weight: bold;

}
h2 {
	text-transform: uppercase;
	margin-bottom: 40px;
}
a{
	color: #000;
}
a:hover{
	cursor: pointer;
	color: #000;
}
section {
	padding: 0 0 20px 0;
	margin: 1px;
	overflow: hidden;
}
section.header, .bets, .description {
	border: 1px solid gray;
	border-radius: 15px;
}
section.description p {
	/*font: italic small-caps bold 16px/2 cursive;*/
}
section.description img {
	max-width: 300px;
}
.header div.row{
	position: relative;
}
button.back {
	position: absolute;
	left: 0;
	top: 0;
	width: 125px;
	height: 35px;
	border-bottom-right-radius: 15px;
}
section.bets {
	display: flex;
}
div.bet {
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
div.incdec_bet{
	display: flex;
	justify-content: center;
}
div.bet button {
	margin-top: 5px;
	width: 100%;
}
div.incdec_bet input {
	font-size: 1.5em;
	text-align: center;
	border-radius: 15px;
	margin-right: 2px;
	margin-left: 2px;
}

p.head{
	z-index: 2000;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}
div.userimg {
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 2px 4px #2B1015;
	font-weight: bolder;

}
div.userimg img {
	border: 1px solid gray;
	box-shadow:5px 5px 10px #2B1015;
	border-radius: 50%;
	margin-bottom: 5px;
	max-height: 250px;
	min-width: 250px;
}

.date-publish {
	padding: 10px;
}
.date-publish span {
	text-decoration: none;
}

span.date {
	margin-left: 10px;
	text-decoration-color: lightgray;
}

span.day, .hour, .min, .sec, .date {
	display: inline-block;
	background: linear-gradient(180deg, rgba(255,255,255,.4), rgba(0,0,0,.3));
	padding: 2px;
	width: 46px;
	font-size: 1.3em;
	border-bottom: 2px ridge rgba(0,0,0,.7);
border-radius: 15px;
	text-align: center;
}
span.date {  
	background: linear-gradient(180deg, rgba(255,255,255,.4), rgba(0,0,0,.1));
	border-top: 2px solid  rgba(0,0,0,.7);
	border-bottom: 2px solid  rgba(0,0,0,.7);
	border-radius: 15px;
	width: 200px;
}
span.day:after, .hour:after, .min:after, .sec:after {
	content: '';
	display: block;
	font-size: 0.5em;
	text-align: center;
	color: lightgray;
	text-shadow: 1px 1px 1px black, 0 0 1px gray;
}
span.day:after{
	content: 'дни';
}
span.hour:after{
	content: 'часы';
}
span.min:after{
	content: 'мин.';
}
span.sec:after{
	content: 'сек.';
}
div.date-publish span{
	vertical-align: middle;
	margin-bottom: 15px;
}
p.text-info {
	text-decoration: underline;
	text-decoration-color: pink;
}
section.description {
	position: relative;
}
button.subscribe {
	position: absolute;
	left: 0;
	top: 0;
	width: 125px;
	height: 35px;
	border-bottom-right-radius: 15px;
}
.promice-block {
	display: block;


}
.promice-foto{
	box-shadow:5px 5px 15px #2B1015;
	min-height: 250px;
	width: 250px;
	border-radius: 50%;
	transition: transform 1s linear;
	border: 1px solid gray;
}
.promice-foto:hover{
	cursor: pointer;
	z-index: 150;
	box-shadow:5px 5px 5px #2B1015;
}
.gray-bg {
	background: rgba(0,0,0,0.2);
}
.blue-bg{
	background: rgba(0,0,100,0.2);
}
.pink-bg {
	background: rgba(100,0,0,0.2);
}
.userlistico{
	display: block;
	width: 50px;
	height: 50px;
}

/*красная иконка категорий*/
.category-img {
	position: absolute;
	top: 3px;
	right: 3px;
}
.category-img img{
	max-height: 80px;
	border: 15px solid pink;
	border-radius: 50%;
	animation: turn 8s linear infinite;
}
.category-img img:hover {
	border: 15px solid rgba(255,0,0,.7) ;
	animation-play-state: paused;
}
button.close{
margin-right: 4px;
	opacity: 1;
	font-size: 3em;
color: black;
	line-height: 0.7;
}
@keyframes turn {
  0% {
    transform: rotateY(0deg);    
  }
  100% {
  	transform: rotateY(360deg);   
  }
}