<link rel="stylesheet" type="text/css" href="app/views/task_id/task_id.css">

<div ng-if="loading" class="preloader-all">
</div> 

<div class="container-fluid" ng-controlle="TaskId">
	<section class="header row">
		<div class="button-return col-md-1">
			<button type="button" class="btn btn-default btn-xs back" ng-click="backPath()"> <i class="glyphicon glyphicon-arrow-left"></i> </button>
		</div>
		<div class="col-md-2 userimg" >
			<img ng-src="{{user.photo ? adress + user.photo : 'app/views/task_id/user_default.jpg'}}">
			<p> {{user.firstname}} {{user.lastname}} </p>
		</div>
		<div class="col-md-9 date-publish">
			<h2>{{task.name}}</h2>
			<span>Дата публикации: <span class="date"> {{task.date_added | date: 'fullDate' }}</span></span><br>
			<span>Осталось времени:
			<span class="day">{{timeLeft.day}}</span>
			<span class="hour">{{timeLeft.hour}}</span>
			<span class="min">{{timeLeft.min}}</span>
			<span class="sec">{{timeLeft.sec}}</span>
			</span>
		</div>
	</section>
	<section class="bets row">
		<div class="statistics col-md-9">
			<h3>Стоимость: <span class="badge">{{ task.value }}</span> </br> Максимальная ставка: <span class="badge" >{{maxBet || 0}}</span>   </h3>
			<p>Отслеживают: <span class="badge">{{ trackingUsers.length }}</span> чел.</p>
			<p> <a  ng-click="showBetsList()">Ставок</a>: <span class="badge">{{ bets.length || 0 }}</span></p>
			<p>Комментарии: <span class="badge">{{comments.length}}</span></p>
		</div>
		<div class="bet col-md-3">
		<p class="text-info">Ваш баланс: {{user.balance}}</p>
		<form ng-controller="TaskId">			
				<div class="incdec_bet">
					<button class="btn btn-danger btn-md" ng-click="inc()"><i class="glyphicon glyphicon-plus"></i></button>
					<input   type="number" min="1" max="{{maxBet}}" ng-model="betAmount">
					<button  class="btn btn-danger btn-md" ng-click="dec()"><i class="glyphicon glyphicon-minus"></i></button>
				</div>			
					<button type="submit" class="btn btn-success bet" ng-click="addBet()">
					 <i class="glyphicon glyphicon-ok-circle"></i>
					Ставить</button> 
					<p ng-if="error.status" class="text-danger">{{error.text}}</p>
		</form>
		</div>

	</section>
	<section class="description row">
		<h2>Описание</h2>
							<button type="button" class="btn btn-default center-block subscribe" ng-click="subscribe()"><i class="glyphicon glyphicon-star-empty"></i> Отслеживать</button>
		<div class="col-md-3">
			<img ng-src="{{task.picture ? adress + task.picture : 'app/views/task_id/noimage.png'}}" alt="img" >
		</div>
		<div class="col-md-9">
			<p>{{task.description}}</p>
		</div>
	</section>
<!-- ng-if="comments.length" --> 
<div>


  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
         <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-left': !status.open}"></i>
        <p class="head">Этапы прохождения обещания</p>
      </uib-accordion-heading>
        <proofs></proofs>
    </div>
  </uib-accordion>

      


  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
         <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-left': !status.open}"></i>
        <p class="head">Комментарии</p>
      </uib-accordion-heading>

      <comments commentslist="comments" mydata="mydata" ng-if="comments.lenght !== 0"> <comments>

    </div>
  </uib-accordion>


