<link rel="stylesheet" href="app/views/task_id/task_id.css">

<div ng-if="loading" class="preloader-all"></div>

<div class="container-fluid" ng-controller="TaskId">

	<section class="header row">
		<div class="row">
			<h2 class="col-md-12">{{task.name}}</h2>
			<button type="button" class="btn btn-default btn-xs back" ng-click="backPath()"> <i class="glyphicon glyphicon-arrow-left"></i> </button>
		</div>
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-2 user-block-foto">
					<a href="#/account/{{task.user_id}}/account_info"><div class="user-task-photo promice-foto" style="background-image: url('{{userByTask.photo ? adress + userByTask.photo : 'app/views/task_id/user_default.jpg'}}')"><p class="text-name"> {{userByTask.firstname}} {{userByTask.lastname}} </p></div></a>
			</div>
			<div class="col-md-8 col-xs-12 date-publish" >
				<span>Дата публикации: <span class="date"> {{task.date_added | date: 'HH:mm (dd.MM.yyyy)' }}</span></span><br>
				<div ng-if='validateTime > 0 || isNan(validateTime)'>
				<span>Осталось времени:
				<span class="day">{{timeLeft.day}}</span>
				<span class="hour">{{timeLeft.hour}}</span>
				<span class="min">{{timeLeft.min}}</span>
				<span class="sec">{{timeLeft.sec}}</span>
				</span>
				</div>
			</div>
		</div>
	</section>

	<section class="bets row" ng-controller="TaskId">
		<div class="statistics col-md-9">
			<h3>Стоимость: <span class="badge">{{ task.value }}</span> </br> Максимальная ставка: <span class="badge" >{{mmaxBet}}{{maxBet}}</span>   </h3>
			<p><a ng-click="showTrackingUsersList()">Отслеживают</a>: <span class="badge">{{ trackingUsers.length }}</span> чел.</p>
			<p> <a  ng-click="showBetsList()">Ставок</a>: <span class="badge">{{ bets.length || 0 }}</span></p>
			<p>Комментарии: <span class="badge">{{comments.length}}</span></p>
		</div>
		<div class="bet col-md-3">
		<p class="text-info">Ваш баланс: {{user.balance}}</p>
		<form>
				<div class="incdec_bet">
					<button class="btn btn-danger btn-md" ng-click="inc()"><i class="glyphicon glyphicon-plus"></i></button>
					<input   type="number" min="1" max="{{maxBet}}" ng-model="betAmount">
					<button  class="btn btn-danger btn-md" ng-click="dec()"><i class="glyphicon glyphicon-minus"></i></button>
				</div>
					<button type="submit" class="btn btn-success bet" ng-click="addBet()">
					 <i class="glyphicon glyphicon-ok-circle"></i>
					Ставить</button>
		</form>
		<p ng-if="error.status" class="text-danger">{{error.text}}</p>
		</div>
	</section>

	<section class="description row">
		<h2>Описание</h2>
							<button type="button" class="btn btn-default center-block subscribe" ng-click="togleTrackingTask()" uib-popover-html="htmlPopoverSubscribe" popover-trigger="'mouseenter'" popover-placement="bottom-left">
								<i ng-class="isTracking ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'" ></i> Отслеживать</button>
								<div class="col-md-1"></div>
		<div class="col-md-2 promice-block">
			
		<div class="user-task-photo promice-foto" style="background-image: url('{{task.picture ? adress + task.picture : 'app/views/task_id/noimage.png'}}')" data-toggle="modal" data-target=".bs-example-modal-lg"></div>
		</div>
		<div class="col-md-9">
			<p>{{task.description}}</p>
		</div>
		<div class="category-img" >
			<img ng-src="{{ task.category_id > 0 ? imgArray[task.category_id-1] : null}}" uib-popover-html="htmlPopoverCategory" popover-trigger="'mouseenter'" popover-placement="left" >
		</div>
	</section>
<!-- ng-if="comments.length" -->
</div>


  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
         <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status.open, 'glyphicon glyphicon-plus': !status.open}"></i>
         <i class="pull-left glyphicon" ng-class="{'glyphicon glyphicon-minus': status.open, 'glyphicon glyphicon-plus': !status.open}"></i>
        <p class="head">Этапы прохождения обещания</p>
      </uib-accordion-heading>
        <proofs></proofs>

    </div>
  </uib-accordion>




  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
         <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status.open, 'glyphicon glyphicon-plus': !status.open}"></i>
         <i class="pull-left glyphicon" ng-class="{'glyphicon glyphicon-minus': status.open, 'glyphicon glyphicon-plus': !status.open}"></i>
        <p class="head">Комментарии</p>
      </uib-accordion-heading>

      <comments commentslist="comments" mydata="mydata" ng-if="comments.lenght !== 0"> <comments>

    </div>
  </uib-accordion>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content" style="background-image: url({{task.picture ? adress + task.picture : 'app/views/task_id/noimage.png'}});height: 600px; background-size: cover">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
</div>
