<link rel="stylesheet" type="text/css" href="app/views/task_id/task_id.css">

<!--<div ng-if="loading" class="preloader-all">
</div> -->

<div class="container-fluid" ng-controlle="TaskId">
	<section class="header row">
		<div class="button-return col-md-1">
			<button type="button" class="btn btn-info btn-xs back" ng-click="backPath()"> <i class="glyphicon glyphicon-arrow-left"></i> </button>
		</div>
		<div class="col-md-2 userimg" >
			<img ng-src="{{user.photo ? adress + user.photo : 'app/views/task_id/user_default.jpg'}}">
			<p> {{user.firstname}} {{user.lastname}} </p>
		</div>
		<div class="col-md-9 date-publish">
			<h2>&laquo;{{task.name}}&raquo;</h2>
			<span>Дата публикации: <span class="date"> {{task.date_added | date:'HH:mm (dd/MM/yyyy)'}}</span></span><br>
			<span>Осталось времени:<span class="date">{{task.time_limit | date:'HH:mm (dd/MM/yyyy)'}}</span></span>
		</div>
	</section>
	<section class="bets row">
		<div class="statistics col-md-9">
			<h3>Стоимость: <span class="badge">{{ task.value }}</span> / Максимальная ставка: <span class="badge" >{{user.balance}}</span></h3>
			<p>Отслеживают: <span class="badge">25</span> чел.</p>
			<p>Ставок: <span class="badge">{{ bets.length || 0 }}</span></p>
			<p>Комментарии: <span class="badge">{{comments.length}}</span></p>
		</div>
		<div class="bet col-md-3">
		<p class="text-info">Ваш баланс: {{user.balance}}</p>
		<button type="button" class="btn btn-warning center-block" ng-click="subscribe()"><i class="glyphicon glyphicon-star-empty"></i> Отслеживать</button>
		<form ng-controller="TaskId">
			
				<div class="incdec_bet">
					<button class="btn btn-danger btn-md" ng-click="inc()"><i class="glyphicon glyphicon-plus"></i></button>
					<input   type="number" min="0" ng-model="betAmount">
					<button  class="btn btn-danger btn-md" ng-click="dec()"><i class="glyphicon glyphicon-minus"></i></button>
				</div>
					
					
<button type="submit" class="btn btn-success pull-right" ng-click="addBet()">
 <i class="glyphicon glyphicon-ok-circle"></i>
Ставить</button> 
<p ng-if="error.status" class="text-danger">{{error.text}}</p>
			</form>
			
	<div><!--	
		<form ng-controller="TaskId">
			<button class="btn btn-danger btn-xs" ng-click="inc()">+</button>
			<input type="number" ng-model="betAmount">
			<button class="btn btn-danger btn-xs" ng-click="dec()">-</button>
			<br>
			<button type="submit" class="btn btn-success block" ng-click="addBet()">Add</button>
		</form>-->
	</div>
		</div>
	</section>
	<section class="description row">
		<h2>Описание</h2>
		<div class="col-md-3">
			<img ng-src="{{adress + task.picture || 'app/views/task_id/user_default.jpg'}}" alt="task">
		</div>
		<div class="col-md-9">
			<p>{{task.description}}</p>
		</div>
	</section>
<!-- ng-if="comments.length" --> 
<div>


  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
         <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-left': !status.open}"></i>
        <p class="head">Этапы прохождения обещания</p>
      </uib-accordion-heading>
        <proofs></proofs>
    </div>
  </uib-accordion>

      


  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
         <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-left': !status.open}"></i>
        <p class="head">Комментарии</p>
      </uib-accordion-heading>
      Все, что думаете об этом обещании оставляйте здесь

      <comments commentslist="comments" mydata="mydata" ng-if="comments.lenght !== 0"> <comments>

    </div>
  </uib-accordion>


