h1, h2, h3 {
	text-align: center;
}
h2 {
	margin-bottom: 40px;
}
section {
	padding: 5px;
	margin: 2px;
	overflow: hidden;
}
section.header, .bets, .description {
	border: 1px solid gray;
	border-radius: 15px;
}

button.back {
	box-shadow:5px 5px 10px #2B1015;
	height: 100px;

}
section.bets {
	display: flex;
		background: linear-gradient(270deg, rgba(255,255,255,.55) 20%, rgba(68,195,115,.5) 150%);
	
}
section.header {
background: linear-gradient(90deg, rgba(255,255,255,.55) 20%, rgba(68,195,115,.5) 150%);
}
section.description {
background: linear-gradient(90deg, rgba(255,255,255,.55) 20%, rgba(68,195,115,.5) 150%);
}
div.bet {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div.incdec_bet{
	display: flex;
	justify-content: center;
}
div.bet button {
	margin: 8px;
}

p.head{
	z-index: 2000;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}
div.userimg {
text-transform: uppercase;
text-align: center;
text-shadow: 2px 2px 4px #2B1015;
font-weight: bolder;
}
div.userimg img {
border: 1px solid gray;
box-shadow:5px 5px 10px #2B1015;
border-radius: 50%;
margin-bottom: 5px;
}
section.header {
	display: flex;
	align-content: space-around;
	align-items: center;

}
.date-publish span {

	text-decoration: none;
}
span.date {
margin-left: 10px;
	text-decoration: underline;
	text-decoration-color: lightgray;
}