h1, h2, h3 {
	text-align: center;
}
section {
	border: 1px solid gray;
	border-radius: 15px;
	padding: 5px;
	margin-bottom: 2px;
}

button.back {
	width: 100px;
	height: 100px;
}
section.bets {
	display: flex;
}
div.bet {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div.incdec_bet{
	display: flex;
	justify-content: center;
}
div.bet button {
	margin: 8px;
}

div.comments-list p {
	background-color: rgba(245,245,245, 0.9);
}

div.add-comment button {
	width: 100px;
	height: 65px;
}

.preloader-all {
	position: fixed;
	left: 0;
	top: 50px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 10000;
  overflow: hidden;
}


.preloader-all:after {
  content: '';
  display: block;
  border-radius: 50%;
  font-size: 10px;
  width: 5em;
  height: 5em;
  margin-top: 45vh;
  margin-left: 45vw;
  border-top: 0.5em solid rgba(255,128,255, 0.5);
  border-right: 0.5em solid rgba(255,128,255, 0.5);
  border-bottom: 0.5em solid rgba(255,128,255, 0.5);
  border-left: 0.5em solid #ccc;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 0.9s infinite linear;
  animation: load 0.9s infinite linear;

}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg) ;
  }
}