@import url('https://fonts.googleapis.com/css?family=Caveat');


h1, h2, h3 {
	text-align: center;
	font-weight: bold;
}
h2 {
	text-transform: uppercase;
	margin-bottom: 40px;
}
a{
	color: #000;
}
a:hover{
	cursor: pointer;
	color: #000;
}
section {
	padding: 0 0 20px 0;
	margin: 10px;
	overflow: hidden;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
/*секция комментарии и этапы прохождения*/
div.panel-group {
	margin: 0
}
div.container-fluid {
	margin-left: 15px;
	margin-right: 15px;
}
.status-task{
	position: absolute;
	right: 15px;
	top: 0;
}
.bd2 {
	border: 5px solid pink;
	background: pink;
	border-radius: 15px;
}
.bd1 {
	border: 5px solid lightgreen;
	background: lightgreen;
	border-radius: 15px;
}
.bd0 {
	border: 5px solid lightgray;
	background: lightgray;
	border-radius: 15px;
}
section.header {
	background: linear-gradient(-120deg,  #fff 71%, rgba(250, 250, 250, 0.8) 71%), #fff;
  background-size: cover;
  background-position: 50% 21%;
}
section.bets {
	background: linear-gradient(30deg, rgba(250, 250, 250, 0.8)  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #fff 60%, rgba(250, 250, 250, 0.8) 60%);
}
section.description {
	background: linear-gradient(110deg, rgba(250, 250, 250, 0.8) 30%, #fff 30%);
}
section.header, .bets, .description {
	border: 1px solid black;
	border-radius: 15px;
}
section.description p {
	/*font: italic small-caps bold 16px/2 cursive;*/
}
section.description img {
	max-width: 300px;
}
.header div.row{
	position: relative;
}
button.back {
	position: absolute;
	left: 0;
	top: 0;
	width: 125px;
	height: 35px;
	border-bottom-right-radius: 15px;
}
section.bets {
	display: flex;
}
div.bet {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	width: 250px;
}
div.bet p{
	text-align: center;
}
div.incdec_bet{
	display: flex;
	justify-content: center;
}
div.bet button {
	margin-top: 5px;
	width: 100%;
}
div.incdec_bet input {
	font-size: 1.5em;
	text-align: center;
	border-radius: 15px;
	margin-right: 2px;
	margin-left: 2px;
}

p.head{
	z-index: 2000;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
}


.user-block-foto{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 15px;
	position: relative;
	text-align: center;
	margin-bottom: 15px;
}
.user-task-photo {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-end;
	height: 250px;
	width: 250px;
	float: left;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
  }
.text-name {
	text-align: center;
	text-shadow: 0px 0px 40px #fff;
	font-weight: bolder;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0,0,0,0.5);
	border-radius: 7px;
}


.date-publish span {
	text-decoration: none;
}

span.date {
	margin-left: 10px;
	text-decoration-color: lightgray;
}

span.day, .hour, .min, .sec, .date {
	display: inline-block;
	background: linear-gradient(180deg, rgba(255,255,255,.4), rgba(0,0,0,.3));
	padding: 2px;
	width: 46px;
	font-size: 1.3em;
	border-bottom: 2px ridge rgba(0,0,0,.7);
	border-radius: 15px;
	text-align: center;
}
span.date {  
	background: linear-gradient(180deg, rgba(255,255,255,.4), rgba(0,0,0,.1));
	border-top: 2px solid  rgba(0,0,0,.7);
	border-bottom: 2px solid  rgba(0,0,0,.7);
	border-radius: 15px;
	width: 200px;
}
span.day:after, .hour:after, .min:after, .sec:after {
	content: '';
	display: block;
	font-size: 0.5em;
	text-align: center;
	color: lightgray;
	text-shadow: 1px 1px 1px black, 0 0 1px gray;
}
span.day:after{
	content: 'дни';
}
span.hour:after{
	content: 'часы';
}
span.min:after{
	content: 'мин.';
}
span.sec:after{
	content: 'сек.';
}
.date-publish {
	margin-left: 20px;
	
}
div.date-publish span{
	vertical-align: middle;
	margin-bottom: 15px;
}
p.text-info {
	text-decoration: underline;
	text-decoration-color: pink;
}
section.description {
	position: relative;
}
button.subscribe {
	position: absolute;
	left: 0;
	top: 0;
	width: 125px;
	height: 35px;
	border-bottom-right-radius: 15px;
}
.promice-block {
	display: block;


}
.promice-foto{
	box-shadow:5px 5px 15px #2B1015;
	transition: transform 1s linear;
	border: 1px solid gray;
}
.promice-foto:hover{
	cursor: pointer;
	z-index: 150;
	box-shadow:5px 5px 5px #2B1015;
}
.gray-bg {
	background: rgba(0,0,0,0.2);
}
.blue-bg{
	background: rgba(0,0,100,0.2);
}
.pink-bg {
	background: rgba(100,0,0,0.2);
}
.userlistico{
	display: block;
	width: 50px;
	height: 50px;
}
.statistics p {
	font-weight: bold;
	border-left: 2px solid red;
	padding-left: 5px;
}
.description p {
	font-family: Caveat;
	font-size: 2em;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
transition: all 0.2s;
margin-left: 45px;
}
.description p:hover{
  color: #000;
}
/*красная иконка категорий*/
.category-img {
	position: absolute;
	top: 3px;
	right: 3px;
}
.category-img img{
	max-height: 80px;
	border: 15px solid pink;
	border-radius: 50%;
	animation: turn 8s linear infinite;
}
.category-img img:hover {
	border: 15px solid rgba(255,0,0,.7) ;
	animation-play-state: paused;
}
button.close{
	margin-right: 4px;
	opacity: 1;
	font-size: 3em;
	color: black;
	line-height: 0.7;
}
@keyframes turn {
  0% {
    transform: rotateY(0deg);    
  }
  100% {
  	transform: rotateY(360deg);   
  }
}
div.modal-dialog {
	margin-top: 80px;
}

/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px){
button.back {
	width: 70px;
}
.date-publish {
	margin-left: 40px;
}
.bets{
	display: flex;
	flex-direction: column;
}
button.subscribe {
	color: white;
	overflow: hidden;
	width: 40px;
}
.glyphicon-star-empty {
	color: #000;
}
.promice-block {
	text-align: center;
	padding-bottom: 15px;
}

  }