<section class="proofs">
	<div>
		<ol ng-repeat="proof in proofs">

			<li class="list-group-item row">	
		    <h4 class="col-md-32 list-group-item-heading">{{proof.date_added | date:'HH:mm |(dd/MM)'}}</h4>
		    <img class="img-thumbnail img-responsive caddProofol-md-3" ng-src="{{proof.picture || 'app/views/task_id/user_default.jpg'}}">
		    <p class="list-group-item-text col-md-7">{{proof.description}}</p>
		    <button class="btn btn-info" ng-if="!validTask" ng-click="addProof()">Добавить подтверждение</button>
			</li>
		</ol>
	</div>
</section>