div.user-info {
    height: 200px;
    padding: 10px;
    background: rgb(212, 223, 236);
}

.user-photo {
    width: 180px;
    height: 180px;
    float: left;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-info {
    float: right;
    text-align: center;
    width: calc( 100% - 210px );
    height: 100%;
}

.main-info p {
    text-align: left;
}

.main-info p.right {
    text-align: right;
}
