<footer>
    <div class="footer-container">
	    <div class="left-block">
	    	<div class="footer-logo">
	    		<!-- <img class="logo-pic" src="../../../icons/logo-front.png" alt="logo-pic"> -->
	    		<h1 class="logo-text-footer">
	                BetWill
            	</h1>
            	<p>Твоя мотивация<br> на каждый день</p>
	    	</div>
	    	<div><a href="https://www.google.com.ua/maps/place/A-Level/@49.9874219,36.2285789,17z/data=!3m1!4b1!4m5!3m4!1s0x4127a0f6bbf24153:0x1e01a858b65463!8m2!3d49.9874185!4d36.2307675" target="_blank" class="adress"><div class="map-marker"></div> Павловская площадь 6, A-level</a></div>
			<div><a href="tel: +3 8(050) 144-37-32" class="phone"><div class="phone-icon"></div> +3 8(050) 144-37-32</a></div>
	    </div>
	    <div class="center-block">
	    	<div class="socials">
		    	<p>Подписывайтесь в соцсетях</p>
		    	<div class="social-icons">
		    		<a href="https://www.linkedin.com/in/bogdan-konovalov-217050168" target="_blank"><div class="vk-icon"></div></a>
		    		<a href="https://www.facebook.com/bogdan.konovalov.75" target="_blank"><div class="fb-icon"></div></a>
		    		<a href="http://gitlab.a-level.com.ua/Bogdan" target="_blank"><div class="insta-icon"></div></a>
		    	</div>
	    	</div>
	    	<div class="questions">
	    		<p>По любым вопросам пишите сюда:</p>
	    		<div class="contacts-icons">
	    			<a href="https://t.me/bogdan_konovalov" target="_blank"><div class="telegram-icon"></div></a>
	    			<a href="https://wa.me/380660353885" target="_blank"><div class="watsapp-icon"></div></a>
	    		</div>
	    	</div>
	    </div>
	    <div class="right-block">
	    	<p>Покупайте willcoin на сайте</p>
	    	<div class="payment-icons">
	    		<i class="fab fa-cc-visa fa-3x"></i>
	    		<i class="fab fa-cc-mastercard fa-3x"></i>
	    		<i class="fab fa-apple-pay fa-3x"></i>
	    	</div>
	    </div>
    </div>
    <div class="copyright">
    	<div class="title">© 2018 BetWill — сервис публичных обещаний</div>
    </div>
</footer>