<link rel="stylesheet" type="text/css" href="css/header.css">

<header id="menu">
    <div class="top-menu">
        <div class="logo-container">
            <div class="l3d">
                <div class="rotate">
                    <img class="logo-front" src="../../../icons/logo-front.png" alt="logo-pic"> 
                    <img class="logo-back" src="../../../icons/logo-back.png" alt="logo-pic">
                </div>
            </div>
            <h1>
                <a class="logo-text" ng-class="{active: currentMenuItem == '/'}" href="../../../index.html">
                    BetWill
                </a>
            </h1>
        </div>
        <nav>
            <ul class="menu-container">
                 <li><a href="#/#how">Как это работает</a></li>
                 <li><a href="#/#who">Для кого</a></li>
                 <li><a href="#/#reviews">Отзывы</a></li>
                 <li><a href="#/#faq">FAQ</a></li>
                 <li ng-class="{active: currentMenuItem == '/login'}"><a href="#/login"><div class="login-icon"></div> Войти</a></li>
            </ul>
        </nav>
    </div>
</header>