<link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-class="{active: currentMenuItem == '/'}" class="navbar-brand" href="#">LOGO</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse in " aria-expanded="true" aria-hidden="false">
            <ul class="nav navbar-nav navbar-right">
 <li><a href="#/#how">Как это работает?</a></li>
 <li><a href="#/#why">Для кого?</a></li>
 <li><a href="#/#reviews">Отзывы</a></li>
 <li><a href="#/#footer" >Контакты</a></li>
 <li ng-class="{active: currentMenuItem == '/login'}" class="active"><a href="#/login">Войти</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li></li>
            </ul>
        </div>
    </div>
</nav>