<ng-include src="'app/views/main_page/header.template.html'"></ng-include>

<div>
	<div class="parallax__layer">
		<div class="pcontainer"> 
			<div class="ptext">
				А ты готов установить цену своего слова?
			</div>
			<a href="#/login" class="btn-login">Готов!</a>
		</div>
	</div>
	<section id="how">
		<h2>Как это работает</h2>
		<div class="line-after-h2"></div>
		<div class="how-container">
			<div class="how-item">
				<img class="how-icon" src="../../../icons/signup.png" alt="sign-up">
				<p>Вы даете публичное обещание</p>
			</div>
			<div class="how-item">
				<img class="how-icon" src="../../../icons/progress.png" alt="progress">
				<p>Мы вас мотивируем и поддерживаем</p>
			</div>
			<div class="how-item">
				<img class="how-icon" src="../../../icons/champion.png" alt="champion">
				<p>Вы выполняете обещание</p>
			</div>
			<div class="how-item">
				<img class="how-icon" src="../../../icons/gift.png" alt="gift">
				<p>Получаете призы и подарки</p>
			</div>
		</div>
	</section>
	<section class="category">
		<h2>Категории</h2>
		<div class="category-container">
			<div class="category-item">
				<div class="category-item-container">
					<img src="../../../icons/competitions.png" alt="competitions" class="category-icon">
					<h3>Соревнования</h3>
				</div>
			</div>
			<div class="category-item">
				<div class="category-item-container">
					<img src="../../../icons/habits.png" alt="habits" class="category-icon">
					<h3>Привычки</h3>
				</div>
			</div>
			<div class="category-item">
				<div class="category-item-container">
					<img src="../../../icons/career.png" alt="career" class="category-icon">
					<h3>Карьера</h3>
				</div>
			</div>
			<div class="category-item">
				<div class="category-item-container">
					<img src="../../../icons/study.png" alt="study" class="category-icon">
					<h3>Учеба</h3>
				</div>
			</div>
			<div class="category-item">
				<div class="category-item-container">
					<img src="../../../icons/shoping.png" alt="shoping" class="category-icon">
					<h3>Покупки</h3>
				</div>
			</div>
			<div class="category-item">
				<div class="category-item-container">
					<img src="../../../icons/other.png" alt="other" class="category-icon">
					<h3>Другое</h3>
				</div>
			</div>
		</div>
	</section>
	<div class="parallax__layer2"></div>
	<div>
		<br><br><br><br><br><br><br><br><br><br><br>
	  <br><br><br><br><br><br><br><br><br><br><br>
	  <section id="why">why do you need this</section>
	</div>
	<div>
		<br><br><br><br><br><br><br><br><br><br><br>
	  <br><br><br><br><br><br><br><br><br><br><br>
	  <section id="reviews">reviews</section>
	</div>
	  <br><br><br><br><br><br><br><br><br><br><br>
	  <br><br><br><br><br><br><br><br><br><br><br>
  </div>

<ng-include src="'app/views/main_page/footer.template.html'"></ng-include>
