<header id="id="menu"">
<nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="Header_logged">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" ng-class="{active: currentMenuItem == '/'}">
                        <div class="logo-container">
            <div class="l3d navbar-header">
                <div class="rotate">
                    <img class="logo-front" src="../../../icons/logo-front.png" alt="logo-pic"> 
                    <img class="logo-back" src="../../../icons/logo-back.png" alt="logo-pic">
                </div>
            </div>
            <h1>
                <a class="logo-text navbar-brand" href="#" ng-class="{active: currentMenuItem == '/'}">
                    BetWill
                </a>
            </h1>
        </div>
            </a>
        </div>








        <div aria-expanded="true" aria-hidden="false" class="navbar-collapse collapse in " id="navbar">
            <ul class="nav navbar-nav" id="nav_menu">
                <li ng-class="{active: currentMenuItem === '/'}">
                    <a href="#">
                        Главная    
                    </a>
                </li>
                <li ng-class="{active: currentMenuItem === '/account/{{myUserId}}/tasks'}">
                    <a href="#/account/{{myUserId}}/tasks">
                        Мои обещания
                        <span class="badge">{{myTasks.length || "0"}}</span>      
                    </a>
                </li>
                <li ng-class="{active: currentMenuItem === '/account/{{myUserId}}/tracking_tasks'}">
                    <a href="#/account/{{myUserId}}/tracking_tasks">
                        Отслеживаемые
                        <span class="badge">{{myTrackingTasks.length || "0"}}</span>
                    </a>
                </li>
                <li ng-class="{active: currentMenuItem === '/account/{{myUserId}}/bets'}">
                    <a href="#/account/{{myUserId}}/bets">
                        Ставки
                        <span class="badge">0</span>
                    </a>
                </li>
                <li ng-class="{active: currentMenuItem === '/account/{{myUserId}}/account_info' || currentMenuItem === '/account/{{myUserId}}'}">
                    <a href="#/account/{{myUserId}}/account_info">
                        Личный кабинет
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-default" ng-click="exit()" id="exit-btn">Выйти</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>
<div class="fix-fix"></div>
