<nav class="navbar navbar-default navbar-top" role="navigation" ng-controller="Header_logged">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" ng-class="{active: currentMenuItem == '/'}">
                PPS
            </a>
        </div>
        <div aria-expanded="true" aria-hidden="false" class="navbar-collapse collapse in " id="navbar">
            <ul class="nav navbar-nav" id="nav_menu">
                <li ng-class="{active: currentMenuItem === '/'}">
                    <a href="#/">
                        Главная    
                    </a>
                </li>
                <li ng-class="{active: currentMenuItem === '/account/my_tasks'}">
                    <a href="#/account/my_tasks">
                        Мои обещания
                        <span class="badge">{{userTasks.length || "0"}}</span>      
                    </a>
                </li>
                <li ng-class="{active: currentMenuItem === '/account/tracking_tasks'}">
                    <a href="#/account/tracking_tasks">
                        Отслеживаемые
                        <span class="badge">0</span>
                    </a>
                </li>
                <li ng-class="{active: currentMenuItem === '/account/my_bets'}">
                    <a href="#/account/my_bets">
                        Ставки
                        <span class="badge">0</span>
                    </a>
                </li>
                <li ng-class="{active: currentMenuItem === '/account/account_info'}">
                    <a href="#/account/account_info">
                        Личный кабинет
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-default" ng-click="exit()" id="exit-btn">Выйти</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
